# Python/Django
__pycache__/
*.pyc
db.sqlite3
staticfiles/
media/

# Virtual environment
venv/
env/
.venv/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Git
.git/
.gitignore

# Environment files
.env
*.env.*

# Railway specific
.railway/